.navbar {
  background-color: #242d3c;
  border-color: #310;
  border-color: rgba(51, 17, 0, 0.2);
  font-weight: 700;
  transition: padding 0.5s;
}
.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 30px;
}
.navbar-toggle {
  z-index: 3;
}

body {
  width: 100%;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
}

.btn {
  border-radius: 4px;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid black;
  padding: 1rem 2rem;
  margin-right: 30px;
  transition: all 0.6s;
  color: #fff;
  background-color: #ff8c24;
}

.btn:hover {
  color: #ff8c24;
  background-color: transparent;
  border: 1px solid #182c39;
}

.btn:active {
  transform: translate(0.5rem, 0.5rem);
  box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.75);
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
